@charset "UTF-8";

body {
    margin: 0;
    font-family: sans-serif;
}

code {
    font-family: monospace;
    font-size: 87.5%;
    color: #e38;
    word-break: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.6rem
}

h3 {
    font-size: 1.5rem
}

h4 {
    font-size: 1.4rem
}

h5 {
    font-size: 1.25rem
}

h6 {
    font-size: 1rem
}

p {
    padding: .15rem 0;
    margin: 0;
    line-height: 1.3rem;
}

a {
    text-decoration: underline;
    color: #15aA5;
}

a:hover, a:active {
    color: #c00;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    clear: both;
}

.header-wrapper {
    padding: 0 13rem;
    background: black;
}

.content-wrapper {
    padding: 0 13rem;
    background: white;
}

.lead {
    font-size: 2rem;
}

.header {
    background-position: 0 1rem;
    min-height: 60px;
    grid-column: span 12;
}

#QuarkusLogoSVG {
    width: 200px;
    height: 30px;
    padding-top: 1rem;
}

.banner {
    grid-column: span 12;
    padding: 2rem 0;
}

.callout {
    color: white;
    font-size: 3.5rem;
    margin: 0;
    padding-top: 5rem;
    grid-column: span 8;
}

.appdetails {
    margin: 1rem 0;
    border: 1px solid lightgrey;
    padding: 1rem;
    background: white;
    font-size: .75rem;
    font-weight: 300;
    grid-column: span 4;
}

.appdetails ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.appdetails ul li {
    margin-bottom: 0.2rem;
}

.appdetails h5 {
    margin: 0;
    padding: 0;
}

.left-column {
    grid-column: span 8;
    padding-right: 3rem;
}

.left-column p {
    padding: .15rem 0;
    margin: 0;
}

.left-column ul {
    list-style-type: none;
    padding: 0rem;
}

.left-column li {
    padding: .15rem 0rem;
    font-weight: 500;
}

.right-column {
    grid-column: span 4;
    margin-top: 5rem;
}

.right-column h3 {
    font-weight: 200;
}

.right-column h5 {
    padding: 1rem 0 .25rem 0;
    margin: 0;
    font-weight: 200;
}

.right-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.right-column li {
    padding: .5rem 0 0 0;
}

.provided-code {
}

.provided-code h3 {
    font-weight: 200;
}

@media screen and (max-width: 1023px) {
    .header-wrapper {
        padding: 0 1rem;
        background: black;
    }
    .banner-wrapper {
        padding: 0 1rem;
    }
    .content-wrapper {
        padding: 0 1rem;
        background: white;
    }
    .left-column {
        grid-column: span 12;
    }
    .right-column {
        grid-column: span 12;
        margin: 3rem 0;
    }
    .callout {
        color: white;
        font-size: 3.5rem;
        margin: 0;
        padding: 1rem 0;
        grid-column: span 12;
    }
    .appdetails {
        margin: 1rem 0;
        border: 1px solid lightgrey;
        padding: 1rem;
        background: white;
        font-size: 1rem;
        font-weight: 300;
        grid-column: span 12;
    }
}
