@charset "UTF-8";

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem
}

h3 {
    font-size: 1.75rem
}

h4 {
    font-size: 1.5rem
}

h5 {
    font-size: 1.25rem
}

h6 {
    font-size: 1rem
}

.lead {
    font-weight: 300;
    font-size: 2rem;
}

.banner {
    font-size: 2.7rem;
    margin: 0;
    padding: 2rem 1rem;
    background-color: #012;
    color: white;
}

body {
    margin: 0;
    font-family: sans-serif;
}

code {
    font-family: monospace;
    font-size: 87.5%;
    color: #e38;
    word-break: break-word;
}

.left-column {
    padding: .75rem;
    max-width: 75%;
    min-width: 55%;
}

.right-column {
    padding: .75rem;
    max-width: 25%;
}

.container {
    display: flex;
    width: 100%;
}

li {
    margin: 0.75rem;
}

.right-section {
    margin-left: 1rem;
    padding-left: 0.5rem;
}

.right-section h3 {
    padding-top: 0;
    font-weight: 200;
}

.right-section ul {
    border-left: 0.3rem solid #7ae;
    list-style-type: none;
    padding-left: 0;
}

.provided-code {
    border-left: 0.3rem solid #7ae;
    padding-left: 10px;
}

.provided-code h3 {
    font-weight: 200;
}
