@page
@model IndexModel
@{
    ViewData["Title"] = "home";
}

<section class="text-center">
    <h1 class="display-3">welcome</h1>
    <p>The date time on the system is: <output>@DateTime.Now</output></p>
</section>
