@page
@model PrivacyModel
@{
    ViewData["Title"] = "privacy policy";
}

<section class="text-center">    
    <h1 class="display-3">@ViewData["Title"]</h1>
    <p>Add a site's privacy policy.</p>
</section>
